body {
  background-color: black;
  
}
.container {
  background-color:darkslategray;
  display: flex;
  color:rgb(0, 255, 76);
  flex-direction: column;
 
  justify-content: center;
  align-items: center;
  
  

}
.main_container{
 

}
.box_rank{

}
.box_qote{}
.box_title{}